apiVersion: v1
kind: Secret

metadata:
  name: taskflow-secret
  namespace: taskflow

type: Opaque

stringData:
  DB_USER: "x"
  DB_PASSWORD: "x"
  #JWT_SECRET: "your-super-secret-jwt-key"
  #REDIS_PASSWORD: "your-redis-password"